<header>
        <nav class="navbar">
            <div class="container">
                <div class="logo">
                    <a href="..">Candy Crèche</a>
                </div>
                <div id="mainListDiv" class="main_list">
                    <ul class="navlinks">
                        <li><a href="#QSMN">Qui sommes-nous ?</a></li>
                        <li><a href="#espace_parents">Espace Parents</a></li>
                        <li><a href="#espace_entreprises">Espace Entreprises</a></li>
                    </ul>
                </div>
                <span class="navTrigger">
                <i></i>
                <i></i>
                <i></i>
            </span>
            </div>
        </nav>
        <div class="clear"></div>
</header>