{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <div class="block"></div>

    <div class="wrap_login_form_parents">
        <form method="post">
            {% if error %}
                <div class="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <h1 class="login_form_h1">Connexion <br> Espace Parents</h1>
            <div id="login_form_mail">
                <label for="login_form_mail" class="login_form_label_mail">Adresse Mail</label>
                <input type="text" value="{{ last_username }}" name="parents_mail" id="login_form_mail"
                       class="form_control_parents"
                       placeholder="Adresse Mail" required autofocus>
            </div>

            <div class="clear"></div>

            <div id="login_form_password">
                <label for="login_form_password" class="login_form_label_password">Mot de passe</label>
                <input type="password" name="password" id="login_form_password" class="form_control_password"
                       placeholder="Mot de passe"
                       required>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            </div>

            <div class="clear"></div>

            {#Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.#}
            {#See https://symfony.com/doc/current/security/remember_me.html#}

            {#<div class="checkbox mb-3">#}
            {#<label>#}
            {#<input type="checkbox" name="_remember_me"> Remember me#}
            {#</label>#}
            {#</div>#}


            <button class="login_form_submit" type="submit">
                Se connecter
            </button>
        </form>
    </div>
{% endblock %}
