{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}



    <div class="block"></div>

    <div class="wrap_register_authorize">

    {{ form_start(registrationForm) }}

        <h1 class="register_form_h1_authorize">Inscription authorize</h1>

        <div class="register_form_mail">
            <div class="parentsMail">   {{ form_row(registrationForm.Authorize_login,{"attr":{'placeholder': 'adresse@mail.com'}}) }} </div>
                                        {{ form_row(registrationForm.plainPassword, {"attr":{'placeholder': '**************'}}) }}
        </div>
        <div class="save">
        <button class="btn">Register</button>
        </div>

            {{ form_end(registrationForm) }}
    </div>
    <div class="clear"></div>
{% endblock %}
