{% extends 'base.html.twig' %}

{% block title %}Edit Parents{% endblock %}

{% block body %}
    {{ include('parents/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('parents_index') }}">back to list</a>

    {{ include('parents/_delete_form.html.twig') }}
{% endblock %}
