<form method="post" action="{{ path('disease_delete', {'id': disease.id}) }}" onsubmit="return confirm('Êtes-vous sur de vouloir supprimer cette maladie ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ disease.id) }}">
    <div class="save">
        <button class="btn">Supprimer</button>
    </div>
</form>
