{% extends 'base.html.twig' %}

{% block title %}New Disease{% endblock %}

{% block body %}
    {{ include('disease/_form.html.twig') }}
    <a href="{{ path('profil') }}">back to list</a>
{% endblock %}
