{% extends 'base.html.twig' %}

{% block title %}New Child{% endblock %}

{% block body %}

    <div class="block"></div>


        <div class="formulaire-child">
            <div class="formulaire-child-triangle"></div>

            <h2 class="formulaire-child-header">Ajouter une enfant</h2>

            <div class="formulaire-child-container">
                <p>{{ include('child/_form.html.twig') }}</p>
                <div class="formulaire-child-button">
                    <a href="{{ path('profil') }}">&#9664; Revenir au profil</a>
                </div>
            </div>
        </div>

{% endblock %}
