{% extends 'base.html.twig' %}

{% block title %}New Child{% endblock %}

{% block body %}

    <div class="block"></div>

    <div class="fond-child">
        <div class="child">
            <div class="child-triangle"></div>

            <h2 class="child-header">Ajouter une enfant</h2>

                <p>{{ include('child/_form.html.twig') }}</p>
                <div class="child-ref">
                    <a href="{{ path('profil') }}">Retourner à la page profil parent</a>
                </div>
        </div>
    </div>
{% endblock %}