@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 10px;
    scroll-behavior: smooth;
    background-color: #FFFFFF;
}

.wrap {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

/***********************Navbar********Logo/Menu*******************************/

.navbar {
    background-color: #222222;
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
    border-bottom: solid 2px orange;
    z-index: 10;
}

.navbar div.logo {
    float: left;
    padding-left: 3rem;
}

.navbar div.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 2.5rem;
    transition: 0.5s;
}

.navbar div.logo a:hover {
    color: #00E676;
}

.navbar div.main_list {
    float: right;
}

.navbar div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}

.navbar div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 2.4rem;
}

.navbar div.main_list ul li a:hover {
    color: #00E676;
    transition: 0.5s;
}

.navTrigger {
    display: none;
}

.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

/**************************************************Page d'acceuil******************************************************/

.accueil {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: linear-gradient(to right bottom, rgba(255, 220, 150, 0.8), rgba(255, 220, 150, 0.2)), url("../img/4.jpg");
    border-bottom: solid 2px;
    border-bottom-color: orange;
}

.accueil .titre h1 {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 10em;
    border: 3px solid #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    padding: 20px;
    text-align: center;
    text-decoration: none;
}

/**************************************************Qui sommes-nous?****************************************************/
.qui_somme_nous {

    width: 100%;
    height: 100%;
    background-position: center top;
    background-size: cover;
    padding-bottom: 30%;
}

.qui_somme_nous h2 {
    padding-top: 10%;
    text-align: center;
    font-size: 8em;
    margin-bottom: 10%;
}

.qui_somme_nous .txt_qui_somme_nous p {
    width: 100%;
    height: 100%;
    font-size: 3em;
    text-align: justify;
}

/**************************************************espace_parents******************************************************/

.div_espace_parents {
    width: 50%;
    height: 100vh;
    background-size: cover;
    background-image: linear-gradient(to right bottom, rgba(255, 220, 150, 0.8), rgba(255, 220, 150, 0.2)), url("../img/1.jpg");
    -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    float: left;
}

.div_espace_parents_txt {
    float: right;
    height: 100%;
    width: 50%;
    font-size: 2.5em;
    text-align: justify;
    padding: 3%;
    margin: 15% 0 0 0;

}

.div_espace_parents_txt .div_espace_parents_txt_titre {
    text-align: center;
    font-size: 2em;
}

.div_espace_parents_txt .button {
    text-decoration: none;
    width: 100%;
    text-align: center;
    margin-top: 5%
}

.div_espace_parents_txt .button a {
    text-decoration: none;
    color: #000;
    transition: 0.5s;
    padding: 5%;
}

.div_espace_parents_txt .button a:hover {
    color: #00E676;
}

/**************************************************espace_entreprise******************************************************/
.div_espace_entreprises_txt {
    float: right;
    height: 100%;
    width: 50%;
    font-size: 2.5em;
    text-align: justify;
    padding: 3%;
    margin: 15% 0 0 0;

}

.div_espace_entreprises_txt .titreTxt2 {
    text-align: center;
    font-size: 2em;
}

.div_espace_entreprises_txt .button {
    text-decoration: none;
    width: 100%;
    text-align: center;
    margin-top: 5%
}

.div_espace_entreprises_txt .button a {
    text-decoration: none;
    color: #000;
    transition: 0.5s;
    padding: 5%;
}

.div_espace_entreprises_txt .button a:hover {
    color: #00E676;
}

.div_espace_entreprises {
    width: 50%;
    height: 100vh;
    background-image: linear-gradient(to right bottom, rgba(255, 220, 150, 0.8), rgba(255, 220, 150, 0.2)), url("../img/2.jpg");
    -webkit-clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    float: right;
}

/****************************************************Footer************************************************************/
#footer {
    background-color: #222222;
    color: #FFF;
    vertical-align: baseline;
    height: 100%;
    width: 100%;
    left: 0;
    bottom: 0;
    border-top: solid;
    border-top-color: orange;
}

/*****************************************************Footer Social Icons**********************************************/

.columns {
    width: 33.3333%;
    float: left;
    font-size: 1.5em;
    text-align: justify;
    padding: 3%;
}

.social-icons li {
    float: left;
    margin-right: 5px;
    list-style-type: none;
}

.social-icons {
    margin: 5px;
    margin-top: 25px;
    margin-left: 25px;
}

.social-icons li a {
    width: 46px;
    height: 46px;
    display: block;
    background: url('../img/social-icons.png');
}

.social-icons li a.facebook:hover {
    background: url('../img/social-icons.png') no-repeat 0 -47px;
    width: 46px;
    height: 46px;
}

.social-icons li a.twitter {
    background: url('../img/social-icons.png') no-repeat -52px 0;
    width: 46px;
    height: 46px;
}

.social-icons li a.twitter:hover {
    background: url('../img/social-icons.png') no-repeat -52px -47px;
    width: 46px;
    height: 46px;
}

.social-icons li a.dribble {
    background: url('../img/social-icons.png') no-repeat -104px 0;
    width: 46px;
    height: 46px;
}

.social-icons li a.dribble:hover {
    background: url('../img/social-icons.png') no-repeat -104px -47px;
    width: 46px;
    height: 46px;
}

.social-icons li a.rss {
    background: url('../img/social-icons.png') no-repeat -156px 0;
    width: 46px;
    height: 46px;
}

.social-icons li a.rss:hover {
    background: url('../img/social-icons.png') no-repeat -156px -47px;
    width: 46px;
    height: 46px;
}

.copyright {
    font-size: 1.5em;
    color: #FFF;
    padding: 2%;
    text-align: center;
    background-color: #222222;
}

/******************************************************Notre équipe****************************************************/

.equipe {
    margin-top: 20%;
}

.equipe p {
    text-align: center;
    padding: 3%;
    font-size: 4em;
}

.equipe .imgEquipe {
    width: 20%;
    float: left;
    padding: 2%;
}

.equipe .imgEquipe img {
    width: 100%;
    border-radius: 50%;
    box-shadow: 8px 8px 12px #aaa;

    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.equipe .imgEquipe img:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.equipe .nom {
    width: 100%;
    font-size: 0.7em;
    padding-bottom: 30%;
}

/************************************profilParents JB-jauné************************************************************/

#image_nom {
    background-image: url('../img/1.jpg');
    width: 100%;
    padding: 5%;
}

.img_profil {
    background-image: url('https://placeimg.com/300/300/any%27%27');
    margin: 0 auto;
    box-sizing: border-box;
    height: 200px;
    width: 200px;
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 0px 0px 5px black;
    transition: 0.3s;
    margin-top: 50px;
}

.img_profil:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

#info_Parents {
    width: 100%;
}

.div_info {
    float: left;
    box-sizing: border-box;
    margin: 0 0.6%;
    height: 400px;
    width: 32%;
    min-width: 140px;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 5%;
    background-color: white;
    font-size: 1.5em;
}

#info_Parents h2 {
    margin-top: 30px;
    margin-bottom: 20px;
    height: 50px;
    text-align: center;
    font-size: 2em;
}

#info_Parents p {
    margin-left: 5px;
    margin-top: 25px;
}

#info_Entreprise {
    width: 100%;
}

#info_Entreprise .div_info {
    height: 400px;
    float: right;
    width: 48%;
    min-width: 140px;
    margin-top: 150px;
    margin-right: 25px;
    margin-bottom: 10px;
    border-radius: 30px;
    box-shadow: 2px 2px 8px black;
    background-color: white;
}

.info_activite1 {
    width: 48%;
    float: right;
}

.info_activite1 p {
    padding-top: 20px;
}

.info_activite2 {
    width: 48%;
    float: right;
}

.info_activite2 p {
    padding-top: 20px;
}

#info_Entreprise h2 {
    margin-bottom: 30px;
    height: 50px;
    text-align: center;
}

#info_Entreprise p {
    margin-left: 5px;
    margin-top: 25px;
}

.div_info hr {
    width: 30%;
    transition: 0.25s;
    background-color: white;
    border: none;
    border-bottom: 1px solid black;
    margin: 0 auto;
}

.div_info:hover > hr {
    width: 80%;
    transition: 0.25s;
}

/*button " Modifier vos informations " */
.update_info {
    padding: 10px 10px;
    outline: none;
    background-color: orange;
    border: none;
    border-radius: 5px;
    box-shadow: 0 9px #95a5a6;
    text-align: center;
    cursor: pointer;
    font-size: 1.2em;
    width: 100%;
    min-width: 150px;
    margin-top: 150px;
    color: white;
}

.update_info:active {
    background-color: orange;
    box-shadow: 0 5px #95a5a6;
    transform: translateY(4px);
    transition: 0.05s;
}

.fond {
    /*background-image: url("../img/4.jpg");*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*background-attachment: fixed;*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    background-color: #EEEEEE;
}

/*******************************************************Responsive*****************************************************/

@media screen and (max-width: 950px) {
    .navTrigger {
        display: block;
    }

    .navbar div.logo {
        margin-left: 15px;
    }

    .navbar div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }

    .navbar div.show_list {
        height: auto;
        display: none;
    }

    .navbar div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        min-width: 400px;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #111;
        /*same background color of navbar*/
        background-position: center top;
    }

    .navbar div.main_list ul li {
        width: 100%;
        text-align: right;
    }

    .navbar div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }

    .navbar div.media_button {
        display: block;
    }

    /*Page profil parents*/
    .div_info {
        width: 90%;
        margin-left: 5%;
    }

    .img_profil {
        height: 150px;
        width: 150px;
        margin-top: 65px;
    }

}

@media screen and (max-width: 680px) {

    .accueil .titre h1 {
        text-align: center;
        color: #FFF;
        font-size: 4em;
    }

    .div_espace_parents {
        width: 100%;
        margin-bottom: 5%;
    }

    .div_espace_entreprises {
        width: 100%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .qui_somme_nous h2 {
        font-size: 5em;
    }

    .qui_somme_nous .txt_qui_somme_nous p {
        font-size: 2em;
        text-align: center;
    }

    .div_espace_parents_txt {
        width: 100%;
        font-size: 2em;
        text-align: center;
        margin-left: 25%;
    }

    .div_espace_entreprises_txt {
        width: 100%;
        font-size: 2em;
        text-align: center;
        margin-left: 25%;
    }

    .equipe p {
        text-align: center;
        padding: 3%;
        font-size: 2em;
    }

}
