<form method="post" action="{{ path('booking_delete', {'id': booking.id}) }}" onsubmit="return confirm('Êtes-vous sûr de supprimer?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ booking.id) }}">
    <button class="btn-retreat">Supprimer</button>
</form>
