{% extends 'base.html.twig' %}

{% block body %}
    <div class="imagedefond">
        <a class="bouton_rajout" href="{{ path('booking_new') }}">Nouvel évènement</a>
    <div class="calendarjs">
        {% include '@Calendar/calendar.html' %}
    </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://fullcalendar.io/releases/core/4.0.1/main.min.js"></script>
    <script src="https://fullcalendar.io/releases/interaction/4.0.1/main.min.js"></script>
    <script src="https://fullcalendar.io/releases/daygrid/4.0.1/main.min.js"></script>
    <script src="https://fullcalendar.io/releases/timegrid/4.0.1/main.min.js"></script>

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', () => {
            var calendarEl = document.getElementById('calendar-holder');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                defaultView: 'dayGridMonth',
                editable: true,
                eventSources: [
                    {
                        url: "{{ path('fc_load_events') }}",
                        type: "POST",
                        data: {
                            filters: {
                            },
                        },
                        error: () => {
                            // alert("There was an error while fetching FullCalendar!");
                        },
                    },
                ],
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay',
                },
                plugins: [ 'interaction', 'dayGrid', 'timeGrid' ], // https://fullcalendar.io/docs/plugin-index
                timeZone: 'UTC',
                locale: 'fr',
                buttonText: {
                    prev: "Préc",
                    next: "Suiv",
                    today: "Aujourd'hui",
                    year: "Année",
                    month: "Mois",
                    week: "Semaine",
                    day: "Jour",
                    list: "Mon planning"
                },
                week: {
                    dow: 1, // Monday is the first day of the week.
                },

                weekLabel: "Sem.",
                allDayHtml: "Toute la<br/>journée",
                eventLimitText: "en plus",
                noEventsMessage: "Aucun événement à afficher"
            });
            calendar.render();
        });
    </script>
{% endblock %}