{% extends 'base.html.twig' %}

{% block title %}Edit Booking{% endblock %}

{% block body %}
    <div class="imagedefond">
    <h1>Modification</h1>

    {{ include('booking/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a class="btn-end-table" href="{{ path('booking_index') }}">Retour à la liste</a>

    {{ include('booking/_delete_form.html.twig') }}

    <div class="clear"></div>
    </div>
{% endblock %}
