{% extends 'base.html.twig' %}

{% block title %}New Booking{% endblock %}

{% block body %}
    <div class="imagedefond">
    <h1>Nouvel évènement</h1>

    {{ include('booking/_form.html.twig') }}

    <a href="{{ path('booking_index') }}">Retour à la liste</a>
    </div>
{% endblock %}
