<footer id="footer">
    <div class="wrap">
        <div class="columns">
            <div class="column-info">
                <h3>Plus d'informations</h3> <br>
                <address>
                    <strong>NFactory School</strong><br>
                    76600 Rouen, <br>
                    Haute-Normandie, France.<br>
                </address>
                <p>NFactory, Incubateur & Accélérateur Normand.</p>
            </div>
        </div>

        <div class="columns">
            <ul class="social-icons">
                <li><a href="#" class="facebook"></a></li>
                <li><a href="#" class="twitter"></a></li>
                <li><a href="#" class="dribble"></a></li>
                <li><a href="#" class="rss"></a></li>
            </ul>
        </div>

        <div class="columns">
            <div class="column-info">
                <h3>Liens utiles</h3> <br>
                <h4>Parents</h4>
                <a href="#">Connection</a>
                <a href="#">Inscription</a> <br> <br>
                <h4>Structure</h4>
                <a href="#">Connection</a>
                <a href="#">Inscription</a>
            </div>
        </div>

        <div class="clear"></div>
    </div>


    <div class="copyright">
        <p>Copyright 2019 Candy Crèche. Tous droit réservés.</p>
    </div>
</footer>