<footer id="footer">
    <div class="wrap">
        <div class="columns">
            <div class="column-info">
                <h3>Plus d'informations</h3>
                <address>
                    <strong>NFactory School</strong><br>
                    76000 Rouen, <br>
                    Haute-Normandie, France.<br>
                </address>
                <p>NFactory, Incubateur & Accélérateur Normand.</p>
            </div>
        </div>

        <div class="columns">
            <ul class="social-icons">
                <li><a href="#" class="facebook"></a></li>
                <li><a href="#" class="twitter"></a></li>
                <li><a href="#" class="dribble"></a></li>
                <li><a href="#" class="rss"></a></li>
            </ul>
        </div>

        <div class="columns">
            <div class="column-info">
                <h3>Candy Crèche</h3>
                <p>Une application à l'écoute des parents, pour le confort de leurs enfants.</p>
                <a href="https://www.cnil.fr/fr/reglement-europeen-protection-donnees">Loi RGPD.</a>
            </div>
        </div>

        <div class="clear"></div>
    </div>


    <div class="copyright">
        <p>Copyright 2019 Candy Crèche. Tous droit réservés.</p>
    </div>
</footer>