{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block header %}{% endblock %}
{% block body %}
    <div class="block"></div>
    <div class="fond_creche">
            <div class="wrapper">
                <section id="informations_details" class="informations clearfix">
                    <div class="clear"></div>
                        <article class="banniere_details">
                            <div class="affiche_details">
                            <span class="haut"><p>Crèche d'entreprise</p></span>
                            <span class="bas"><p>705 rue du gros-pied <br/>Rouen <br/>76116</p></span>
                                <img src="https://placeimg.com/300/300/any''" height="100%" width="100%">
                            </div>
                        </article>
                        <article class="description_details">
                                <h1>La paix la journée</h1>
                                <p> Je suis très heureuse de reccupérer les enfants le matin et les
                                    garder
                                    pour vous toute la journée. Lorem ipsum dolor sit amet, consectetur adipisicing
                                    elit,
                                    sed do
                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis
                                    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                                    aute
                                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                    pariatur.
                                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                    mollit
                                    anim id est laborum.</p>
                        </article>
                        <article class="sup_details">
                            <h1>La paix la journée</h1>
                            <p> Je suis très heureuse de reccupérer les enfants le matin et les garder
                            pour vous toute la journée. Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit,
                            sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis
                            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                            aute
                            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                            pariatur.
                            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                            mollit
                            anim id est laborum.</p>
                        </article>
                            <div class="statut_details">
                                <p>Nombre de place restante :</p>
                            </div>
                            <div class="clear"></div>
                        </article>
                    </div>
                </section>
            </div>
    </div>
{% endblock %}